@model IsolDesign.WebUI.Models.DeleteProjectViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Project @Model.ProjectModel.Name</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label style="margin-bottom:0;">Project Leader</label>
        </dt>

        <dd>
            @{
                if (Model.ProjectModel.ProjectLeader == null)
                {
                    <span>No Project Leader</span>
                }
                else
                {
                    @Html.DisplayFor(model => model.ProjectModel.ProjectLeader.Name)
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectModel.Name)
        </dd>

        <dt>
            <label style="margin-bottom:0px;">Teams On Project</label>
        </dt>

        <dd>
            @{
                if (Model.ProjectModel.Teams != null)
                {
                    <span>@Model.ProjectModel.Teams.ElementAt(0).Name</span>
                    //foreach (var team in Model.Teams)
                    for (var i = 1; i < Model.ProjectModel.Teams.Count; i++)
                    {
                        <span>, @Model.ProjectModel.Teams.ElementAt(i).Name</span>
                    }
                }
                else
                {
                    <span>***No Teams***</span>
                }
            }
        </dd>

        <dt class="addMarginTop">
            @Html.DisplayNameFor(model => model.ProjectModel.Description)
        </dt>

        <dd class="addMarginTop">
            @Html.TextAreaFor(model => model.ProjectModel.Description, new { @class = "form-control showTextArea", @readonly = "readonly" })
        </dd>

        <dt class="addMarginTop">
            @Html.DisplayNameFor(model => model.ProjectModel.StartDate)
        </dt>

        <dd class="addMarginTop">
            @Html.DisplayFor(model => model.ProjectModel.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectModel.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectModel.Deadline)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProjectModel.ProjectId)
        @Html.HiddenFor(model => model.ProjectModel.Name)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
