@model IsolDesign.WebUI.Models.ProjectsIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Project.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Project.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.Project.Deadline)</th>
        <th>@Html.DisplayNameFor(model => model.Project.ProjectLeader)</th>
    </tr>
    
@foreach (var item in Model.Projects.ToList()) {
    <tr>
        <td>@Html.DisplayFor(model => item.Name)</td>
        <td>@Html.DisplayFor(model => item.StartDate)</td>
        <td>@Html.DisplayFor(model => item.Deadline)</td>
        <td>@Html.DisplayFor(model => item.ProjectLeader.Name)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
    
</table>

