@model IsolDesign.WebUI.Models.PartnersIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @foreach (var item in Model.Partners.ToList())
    {
        <div class="row applicantsIndex">
            <div class="col-md-2">
                <img src="../../@item.ProfileImagePath" class="thumbnail applicantsImageIndex" />
            </div>
            <div class="col-md-8">
                <p>Name: @item.Name</p>
                <p>Contry: @item.Country</p>
                <div>
                    <div class="col-md-12" style="padding: 0;">
                        <table class="table table-bordered">
                            <tr>
                                <th>Competency</th>
                                <th>Description of Competency</th>
                            </tr>
                            @{
                                foreach (var competency in item.Competencies)
                                {
                                    <tr>
                                        <td>@competency.Name</td>
                                        <td>@competency.Description</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- ************************ This section is hidden until applicant image is clicked ***************************** -->
                                <div class="row applicantsInfo">
                                    @Html.Partial("PartialPartnersInfo", item)
                                </div>
    }
</div>


@section MyScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // clicking an applicants image in the Index view
            $(".applicantsImageIndex").click(function () {
                $(".applicantsIndex").css('display', 'inline');
                $(this).parent().parent().addClass('notShowingInIndex'); // notShowingInIndex is a reference to the now hidden default presentation
                $(this).parent().parent().css('display', 'none');
                $('.applicantsInfo').css('display', 'none');
                $(this).parent().parent().next().addClass('showingApplicantsInfo'); // showingApplicantsInfo is a reference to activated applicants info view
                $(this).parent().parent().next().css('display', 'inline');
            });

            // clicking an applicants image after the applicant has been activated and the info view is showing
            $(".applicantsImageInfo").click(function () {
                $(".showingApplicantsInfo").css('display', 'none');
                $(".showingApplicantsInfo").removeClass('showingApplicantsInfo');
                $(".notShowingInIndex").css('display', 'inline');
                $(".notShowingInIndex").removeClass('notShowingInIndex');
            });
        });
    </script>
}








