@model IsolDesign.WebUI.Models.CustomersIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index of Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerModel.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerModel.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerModel.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerModel.Homepage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CustomerModels) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @{
                var temp = item.Category;
                var categoryName = Model.CustomerModel.DisplayName2(temp);
            }
            @categoryName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Homepage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
        </td>
    </tr>
}

</table>
